#score_info{
  position: absolute;
  right:20px;
  top:280px;
  color:white;
  z-index: 100000;
  font-size: 28px;
}
#startGame{
  position:absolute;
  z-index:100001;
  top:610px;
  left:600px;
  font-size:26px;
}
#gameOverMenu{
  position:absolute;
  z-index:1000001;
  top:540px;
  left:420px;
  background-color:black;
  height:250px;
  width: 650px;
  display:none;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
}

#gameOverMenu a{
  position:relative;
  font-size:26px;
  top: 60px;
  left:30px;
}

#gameOverMenu #restartGame{
  margin-right: 80px;
}

#gameOverMenu p{
  color: white;
  margin: auto;
  margin-left: 150px;
  margin-top:20px;
  font-weight: bold;
  font-size: 60px;
  font-family:arial;
}

.gameButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #000000;
  -webkit-box-shadow:inset 0px 1px 0px 0px #000000;
  box-shadow:inset 0px 1px 0px 0px #000000;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0a000a), color-stop(1, #000000) );
  background:-moz-linear-gradient( center top, #0a000a 5%, #000000 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a000a', endColorstr='#000000');
  background-color:#0a000a;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:79px;
  line-height:79px;
  width:250px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #000000;
}
.startGameButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #0a000a) );
  background:-moz-linear-gradient( center top, #000000 5%, #0a000a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0a000a');
  background-color:#000000;
}
