<html>
<head>
	<title>Headtrackr</title>
	<script type="text/javascript" src="/libs/bower/headtrackr/headtrackr.min.js"></script>
  <script type="text/javascript" src="/libs/bower/three_js/three.min.js"></script>
  <style type="text/css">
  /*<!-- */
    #score_info{
      position: absolute;
      right:20px;
      top:280px;
      color:white;
      z-index: 100000;
      font-size: 28px;
    }
  /*-->*/
  </style>
</head> 
<body>
	<!-- <canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas> -->
<video id="inputVideo" autoplay loop></video>
<div id="info"> nothing </div>
<div id="score_info">test</div>
<div id="collision_info"></div>
<script type="text/javascript">
  


  // 3D WEBGL SCENE FOR GAME

  var objects_number = 50;
  var scene_width = 14;
  var scene_height = 8;
  var scene_y_max = 4;
  var scene_x_max = 7; 
  var scene = new THREE.Scene();
  var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.5, 1400);

  var renderer = new THREE.WebGLRenderer();
  renderer.setSize(window.innerWidth, window.innerHeight);
  var render_div = renderer.domElement;
  render_div.style.position='absolute'
  // render_div.style.top = '0px';
  render_div.style.left = '0px';
  document.body.appendChild(render_div);

  // Creating a cube. Adding it to scene
  var geometry = new THREE.CubeGeometry(0.5,0.5,0.5);
  var material = new THREE.MeshBasicMaterial({color: 0x00ff00});
  var score = 0;
  camera.position.z = 5;

  var objects_creation = function(){
    var objects_array = [];
    for ( var i = 0; i<objects_number-1; i++){
      var cube = new THREE.Mesh(geometry, material);
      cube.position.x = Math.random()*(scene_width + 1) - scene_x_max;
      cube.position.y = Math.random()*(scene_height + 1) - scene_y_max;
      cube.position.z -= i + 5;
      objects_array.push(cube)
      scene.add(objects_array[i]);
    }
    return objects_array;
  }
  var collision = 0;
  
  objects_array = objects_creation();
  var render = function () {
    requestAnimationFrame(render);

    for (var i = 0; i< objects_number-1; i++){
      var array_object = objects_array[i];
      var speed_multiplier = score/200;
      if (!collision){
        array_object.position.z += 0.08 + 0.04*speed_multiplier;
        array_object.rotation.x += 0.1;
        array_object.rotation.y += 0.1;  
      }
      
      if (array_object.position.z >= (camera.position.z + 1)){
        array_object.position.z = -9;
        array_object.position.x = Math.random()*(scene_width + 1) - scene_x_max;
        array_object.position.y = Math.random()*(scene_height + 1) - scene_y_max;
      }
      if (array_object.position.z < camera.position.z + 0.25 && array_object.position.z >  camera.position.z - 0.25 
        && array_object.position.y < camera.position.y + 0.25 && array_object.position.y > camera.position.y - 0.25 
        && array_object.position.x < camera.position.x + 0.25 && array_object.position.x > camera.position.x - 0.25){
        collision = 1
      }
    }

    // cube.position.z+= 0.05;
    renderer.render(scene, camera);
    score += 1;
    document.getElementById("score_info").innerHTML= " Score: " + score.toString();

  };

  


  // HEADTRACKING PART

  var canvasInput = document.createElement('canvas'); // compare
  canvasInput.setAttribute('width','320');
  canvasInput.setAttribute('height','240');
  var videoInput = document.getElementById('inputVideo');
  // var canvasInput = document.getElementById('inputCanvas');


  var htracker = new headtrackr.Tracker();
  htracker.init(videoInput, canvasInput);
  htracker.start();
  var x,y,error;


  canvasInput = document.createElement('canvas'); // ident
  // canvasInput.setAttribute('width',videoInput.clientWidth);
  // canvasInput.setAttribute('height',videoInput.clientHeight);
  canvasInput.setAttribute('width','320');
  canvasInput.setAttribute('height','240');
  document.body.appendChild(canvasInput);
  canvasInput.style.position = 'absolute';
  canvasInput.style.top = '9px';
  canvasInput.style.left = '9px';
  // canvasInput.style.zIndex = '1002';
  canvasInput.style.display = 'block';
  var canvasCtx = canvasInput.getContext('2d');
  canvasCtx.strokeStyle = "#999";
  canvasCtx.lineWidth = 9;

  var drawIdent = function(cContext,x,y) {

    // normalise values
    x = (x/320)*canvasInput.width;
    y = (y/240)*canvasInput.height;

    // flip horizontally
    // x = canvasInput.width - x;

    // clean canvas
    cContext.clearRect(0,0,canvasInput.width,canvasInput.height);

    // draw rectangle around canvas
    cContext.strokeRect(0,0,canvasInput.width,canvasInput.height);

    // draw marker, from x,y position
    cContext.beginPath();
    cContext.moveTo(x-10,y);
    cContext.lineTo(x+10,y);
    cContext.closePath();
    cContext.stroke();

    cContext.beginPath();
    cContext.moveTo(x,y-10);
    cContext.lineTo(x,y+10);
    cContext.closePath();
    cContext.stroke();

    if (!collision){
      camera.position.x = (-1)*x/320*scene_width + scene_x_max;
      camera.position.y = (-1)*y/240*scene_height + scene_y_max;  
    }
    
};

  error = 10;
  document.addEventListener("facetrackingEvent",function (event) {
  	
  	if (x===undefined||Math.abs(x-event.x)>error){
  		x=event.x;
  	}
  	if (y===undefined||Math.abs(y-event.y)>error){
  		y=event.y;
  	}
  	document.getElementById("info").innerHTML=x+","+y;
    drawIdent(canvasCtx, event.x, event.y);
  }, false);
  
;
render();
</script>
</body>
</html>