<html>
<head>
	<title>Headtrackr</title>
	<script type="text/javascript" src="/libs/headtrackr/headtrackr.min.js"></script>
</head>
<body>
	<!-- <canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas> -->
<video id="inputVideo" autoplay loop></video>
<div id="info"> nothing </div>
<script type="text/javascript">
  var canvasInput = document.createElement('canvas'); // compare
  canvasInput.setAttribute('width','320');
  canvasInput.setAttribute('height','240');
  var videoInput = document.getElementById('inputVideo');
  // var canvasInput = document.getElementById('inputCanvas');


  var htracker = new headtrackr.Tracker();
  htracker.init(videoInput, canvasInput);
  htracker.start();
  var x,y,error;


  canvasInput = document.createElement('canvas'); // ident
  // canvasInput.setAttribute('width',videoInput.clientWidth);
  // canvasInput.setAttribute('height',videoInput.clientHeight);
  canvasInput.setAttribute('width','320');
  canvasInput.setAttribute('height','240');
  document.body.appendChild(canvasInput);
  canvasInput.style.position = 'absolute';
  canvasInput.style.top = '60px';
  canvasInput.style.left = '10px';
  canvasInput.style.zIndex = '1002';
  canvasInput.style.display = 'block';
  var canvasCtx = canvasInput.getContext('2d');
  canvasCtx.strokeStyle = "#999";
  canvasCtx.lineWidth = 2;

  var drawIdent = function(cContext,x,y) {

    // normalise values
    x = (x/320)*canvasInput.width;
    y = (y/240)*canvasInput.height;

    // flip horizontally
    // x = canvasInput.width - x;

    // clean canvas
    cContext.clearRect(0,0,canvasInput.width,canvasInput.height);

    // draw rectangle around canvas
    cContext.strokeRect(0,0,canvasInput.width,canvasInput.height);

    // draw marker, from x,y position
    cContext.beginPath();
    cContext.moveTo(x-5,y);
    cContext.lineTo(x+5,y);
    cContext.closePath();
    cContext.stroke();

    cContext.beginPath();
    cContext.moveTo(x,y-5);
    cContext.lineTo(x,y+5);
    cContext.closePath();
    cContext.stroke();
};

  error = 10;
  document.addEventListener("facetrackingEvent",function (event) {
  	
  	if (x===undefined||Math.abs(x-event.x)>error){
  		x=event.x;
  	}
  	if (y===undefined||Math.abs(y-event.y)>error){
  		y=event.y;
  	}
  	document.getElementById("info").innerHTML=x+","+y;
    drawIdent(canvasCtx, event.x, event.y);
  }, false);
  
;
</script>
</body>
</html>